body{
    background-color: #13131A;
    color: #9A9A9A;
    font-family: 'Source Code Pro', monospace;
}

:root{
    --green: #18AF6C;
    --red: #EE273E;
    --blue: #4875BA;
    --yellow: #FEC20E;
    --purple: #7261AB;
    --orange: #F47A20;
    --pink: #D82983;
}



.header{
    margin-top: 200px;
}

#green{
    color: var(--green);
}

#red{
    color: var(--red);
}

#yellow{
    color: var(--yellow);
}

#pink{
    color: var(--pink);
}

#orange{
    color: var(--orange);
}

.wrap{
    color: var(--blue);
}

h1{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 25px;
}

h3{
    font-size: 32px;
    margin-bottom: 25px;
}

h2{
    font-size:44px;
    font-weight: 500;
    margin-top: 68px;
    margin-bottom: 68px;
}

h5{
    margin-top: 38px;
    font-size: 26px;
    font-weight: 300;
}

li{
    font-size: 22px;
    font-weight: 300;
}

button{
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 26px;
    color: white;
    background-color:#515258;
    box-shadow: 0px 3px 16px #FFFFFF29;
    border-radius: 8px;
    border:none;
    margin-top: 28px;
    margin-bottom: 40px;
    

}

ul{
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.image{
    width: 47px;
    
    color: #9A9A9A;
    margin:22px;
    margin-top: 44px !important;
}

.about{
    margin-top: 68px;
    margin-bottom: 68px;
    
}

.titulo{
    text-align: center;
    margin-top: 68px;
    margin-bottom: 68px;
}

.habilidade{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 56px;
    
}

.habilidade h2{
    margin-bottom: 48px;
    font-size: 32px;
    margin-top: 12px;
}

.card{
    width: 400px;
    height: 260px;
    color: #9A9A9A;
    background-color: #2A2B30;
    box-shadow: 0px 3px 8px #FFFFFF28;
    border-radius: 10px;
    margin-bottom: 60px;

}

.titulo-card{
    background-color: #515258;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

.circles{
    display: flex;
    padding:5px;
    justify-content: right;
}

#circle-green{
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: var(--green);
    margin-left: 5px;
}

#circle-yellow{
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: var(--yellow);
    margin-left: 5px;
}


#circle-red{
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: var(--red);
    margin-left: 5px;
}

.title-card-text{
    padding-left:10px;
    padding-top: 10px;
    font-size: 22px;
    color: var(--purple);
    font-weight: 600;
}

.texto-projeto{
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 400;
}

.link-projeto{
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
    color: var(--blue);
}

.footer{
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
    padding: 10px;
}


@media (max-width: 460px) {
    
    .card{
        width: 340px;
        height: 290px;
        
    
    }
    }

    @media (max-width: 336px) {
    
        .card{
            width: 310px;
            height: 290px;
            
        
        }
        }


@media only screen and (max-width: 600px) {
    
h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

h3{
    font-size: 24px;
    margin-bottom: 25px;
}

h5{
    font-size: 20px;
}

.col-8{
    max-width: 90%;
    flex: 90%;
}

.header{
    padding: 20px;
}


  }



  @media (max-width: 1000px) {
    
    .col-3{
        max-width: 100%;
        flex: 100%;
      }

    }