body{
    background-color: #13131A;
    color: #9A9A9A;
    font-family: 'Source Code Pro', monospace;
}

:root{
    --green: #18AF6C;
    --red: #EE273E;
    --blue: #4875BA;
    --yellow: #FEC20E;
    --purple: #7261AB;
    --orange: #F47A20;
    --pink: #D82983;
}



.header{
    margin-top: 200px;
}

#green{
    color: var(--green);
}

#red{
    color: var(--red);
}

#yellow{
    color: var(--yellow);
}

#pink{
    color: var(--pink);
}

#orange{
    color: var(--orange);
}

.wrap{
    color: var(--blue);
}

h1{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 25px;
}

h3{
    font-size: 32px;
    margin-bottom: 25px;
}

h2{
    font-size:44px;
    font-weight: 500;
}

h5{
    margin-top: 38px;
    font-size: 26px;
    font-weight: 300;
}

li{
    font-size: 22px;
    font-weight: 300;
}

button{
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 26px;
    color: white;
    background-color:#515258;
    box-shadow: 0px 3px 16px #FFFFFF29;
    border-radius: 8px;
    border:none;
    margin-top: 28px;
    margin-bottom: 100px;

}


.image{
    width: 47px;
    
    color: #9A9A9A;
    margin:22px;
    margin-top: 44px !important;
}

.about{
    margin-top: 86px;
}

.titulo{
    text-align: center;
    margin-top: 106px;
}

.habilidade{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 56px;
    margin-top: 56px;
}

.habilidade h2{
    margin-bottom: 48px;
    font-size: 32px;
}



@media only screen and (max-width: 600px) {
    
h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

h3{
    font-size: 24px;
    margin-bottom: 25px;
}

h5{
    font-size: 20px;
}

.col-8{
    max-width: 90%;
    flex: 90%;
}


  }



  @media (max-width: 1000px) {
    
    .col-3{
        max-width: 100%;
        flex: 100%;
      }

    }